@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

html{
    background-color: #252525;
    color: white;
    font-family: "Sofia Sans";
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}
/* Навигация */
.navigator{
    display: flex;
    background-color: black;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding-left: 50px;
    justify-self: center;
    align-items: center;
    gap: 5%;
}

/* Основа */
.header h1{
    font-size: 4rem;
    justify-self: center;
    margin: 0px;
}

.text-left{
    max-width: 80%;
    margin-left: 5%;
}
.text-left2{
    max-width: 80%;
    margin-left: 10%;
}
.text-center{
    max-width: 80%;
    justify-self: center;
}

a{
    color: burlywood;
    text-decoration: none;
    text-decoration: underline;
}

.title{
    font-size: 32px;
    margin: 20px 0px 0px 5%;
    text-decoration: underline;
}
.theme{
    font-size: 32px;
    margin: 20px 0px 0px 5%;
    text-decoration: underline;
    margin-left: 10%;
}
.colored{
    color: burlywood;
    margin: 0px;
    text-decoration: none;
}

img{
    max-width: 3rem;
    margin-top: 5px;
}

/* Подвал */
footer{
    background-color: black;
    width: 90%;
    border-radius: 10px;
    padding-left: 50px;
    justify-self: center;
    align-content: center; 

    margin-top: 50px;
}